In [1]:
import pandas as pd
# Creating dataframe
df = pd.read_csv('salaries_by_college_major.csv')

In [2]:
# Getting first five entries
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
# This tells us about the number of rows and cols
df.shape

(51, 6)

In [4]:
# Our next step is to check if there are any empty cells
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [5]:
# Checking the tail of data
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [6]:
# Our next step would be to clean the dataset
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [7]:
# Finding the max starting median salary 
clean_df["Starting Median Salary"].max()

np.float64(74300.0)

In [8]:
# Finding the person who earns this much of salary
clean_df['Starting Median Salary'].idxmax()

np.int64(43)

In [9]:
# Getting the name of the Undergraduate Major for getting data using the id we got
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [10]:
# What other thing we can do with .loc is,
clean_df.loc[43] 
# So if you don't satisfy what column we want for that id it gives whole row

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

## Now few questions to answer
- What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).
- Which college major has the lowest starting salary and how much do graduates earn after university?
- Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [11]:
# What college major has highest mid-career salary - Economics
# What the students with this major generally earn - 107000$

# Getting id of max mid-career salary
clean_df['Mid-Career Median Salary'].idxmax()
# Getting the name of college major
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [12]:
# Getting college major which has least starting salary - Spanish
# And they earn about - 34000$ when they graduate university

clean_df['Starting Median Salary'].idxmin()
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [13]:
# College Major with least mid career salary - Education
# And they can expect to earn about 52000$

clean_df['Mid-Career Median Salary'].idxmin()
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

# Lowest Risk Majors

In [14]:
# Pandas allows us to do direct arithematic operations on columns 
diff_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Difference b/w 90th & 10th', diff_col)
clean_df.head()

,Undergraduate Major,Difference b/w 90th & 10th,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [15]:
# Finding the one with min difference 
clean_df['Difference b/w 90th & 10th'].idxmin()

np.int64(40)

In [16]:
# Printing the major with least risk
clean_df.loc[40]

Undergraduate Major                   Nursing
Difference b/w 90th & 10th            50700.0
Starting Median Salary                54200.0
Mid-Career Median Salary              67000.0
Mid-Career 10th Percentile Salary     47600.0
Mid-Career 90th Percentile Salary     98300.0
Group                                Business
Name: 40, dtype: object

In [17]:
# Now we want them ranked we can sort them based on their differences
low_risk = clean_df.sort_values('Difference b/w 90th & 10th')
low_risk[['Undergraduate Major', 'Difference b/w 90th & 10th']].head()

           Undergraduate Major  Difference b/w 90th & 10th
40                     Nursing                     50700.0
43         Physician Assistant                     57600.0
41                   Nutrition                     65300.0
49                     Spanish                     65400.0
27  Health Care Administration                     66400.0

## Solving these
- Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 
- Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [19]:
# Majors with highest potential
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [20]:
# The ones with greatest spreads
greatest_spread = clean_df.sort_values('Difference b/w 90th & 10th', ascending=False)
greatest_spread[['Undergraduate Major', 'Difference b/w 90th & 10th']].head()

   Undergraduate Major  Difference b/w 90th & 10th
17           Economics                    159400.0
22             Finance                    147800.0
37                Math                    137800.0
36           Marketing                    132900.0
42          Philosophy                    132500.0

# Grouping and Pivoting data